@charset "utf-8";
@import '../bulma/css/bulma.css';

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

// Set your brand colors
$off-white: #f3f3f3;
$blue: #93B7BE;
$sea-green: #408581;
$black: #545454;
$lighter-black: #a1a1a169;

// Update Bulma's global variables
$family-sans-serif: 'Montserrat', sans-serif;
$grey-dark: $black;
$primary: $sea-green;
$link: $sea-green;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: white;
$control-border-width: 1px;
$input-border-color: $lighter-black;
$navbar-box-shadow-size: 0 0.125rem 0.25rem 0;
$navbar-background-color: $off-white;
$navbar-box-shadow-color: $lighter-black;
// Import only what you need from Bulma
@import "../bulma/sass/utilities/_all.sass";
@import "../bulma/sass/base/_all.sass";
@import "../bulma/sass/elements/button.sass";
@import "../bulma/sass/elements/container.sass";
@import "../bulma/sass/elements/title.sass";
@import "../bulma/sass/form/_all.sass";
@import "../bulma/sass/components/navbar.sass";
@import "../bulma/sass/layout/hero.sass";
@import "../bulma/sass/layout/section.sass";


.button-spacer {
  margin-top: 10px
}