body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  margin-left: 55px;
  margin-top: 55px;
}

label {
  font-weight: bolder;
  color: black !important;
  margin-left: 55px;
  margin-right: 10px;
  margin-top: 5px;
}


button, #submit {
  border-radius: 8px;
  border-color: darkgray;
  color: black !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 45%;
  margin-top: 35px;
  padding: 9px;
  outline: none;
}

input {
  margin-top: 15px;
}

.preview {
  font-weight: bolder;
  text-align: center;
}

.form-div {
  float: left;
  width: 50%;
}

.preview-div {
  float: right;
  padding-top: 55px;
  width: 50%;
}

.google-login {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.google-button-div {
  margin: 0 auto;
  left: 50%;
  top: 50%;
  width: 100%;
  text-align: center !important;
  
}