body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  margin-left: 55px;
  margin-top: 55px;
}

label {
  color: black !important;
  margin-left: 55px;
  margin-right: 10px;
  margin-top: 5px;
}


button, #submit {
  border-radius: 8px;
  color: black !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 75px;
  margin-top: 35px;
  padding: 12px;
}