body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  margin-left: 55px;
  margin-top: 55px;
}

label {
  font-weight: bolder;
  color: black !important;
  margin-left: 55px;
  margin-right: 10px;
  margin-top: 5px;
}


button, #submit {
  border-radius: 8px;
  border-color: darkgray;
  color: black !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 95px;
  margin-top: 35px;
  padding: 9px;
  outline: none;
}

input {
  margin-top: 15px;
}

.preview {
  font-weight: bolder;
  text-align: center;
}